.all {
    margin: 0;
    padding-left: 0;
    border-style: solid;
    border-width: 0.05vw;
}

th, tr, td{
    padding: 0;
    margin: 0;
}

p {
    font-size: 1.8vh;
}

#small_text {
    font-size: 1.2vh;
}

table {
    margin: 0;
    padding: 0;
}

body{
    height: 98vh;
    width:  98vw;
    margin: 0;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    background-color: #f0ffce;
    object-fit: contain;
}

.explnation_p {
    margin: 1vh;
}

.input_field {
    float: left;
    margin: 0;
    width: 16vw;
    height: 2vh;
    font-size: 1.5vh;
}

#start_s {
    width: 16vw;
    height: 2vh;
    font-size: 1.5vh;
    margin: 0;
    padding: 0;
    border: 0;
    float: left;
}

#user_modification {
    width: 98vw;
    margin: 0;
    padding: 0;
    height: 15vh;
    background-color: #BA765C;
    overflow: hidden;
}

.modifications{
    height: 10vh;
    width: 16.7vw;
    float: left;
    margin-left: 0.7vw;
    margin-top: 1.5vh;
    padding-top: 1vh;
    padding-left: 1vw;
    padding-bottom: 1vh;
    padding-right: 1vw;
    background: #a9e190;
    border-radius: 1vw;
}

#container {
    margin-top: 1vh;
    height: 80vh;
    width: 98vw;
    padding: 0;
}

#simulation {
    padding: 0;
    margin:0;
    background-color: #cdc776;
    float: left;
    height: inherit;
    width: 77vw;
}

#side_bar{
    overflow:hidden;
    float: right;
    width: 20vw;
    height: inherit;
    background-color: #a9e190;
    object-fit: contain;
    margin: 0;
    padding: 0;
}

#reklame{
    border: hidden;
    height: 25vh;
    width: 18vw;
    padding-left: 1vw;
    padding-right: 2vw;
    margin: 0;
}
#stats {
    height: 55vh;
    width: 18vw;
    padding-left: 1vw;
    padding-right: 2vw;
    margin: 0;
    background-color: #a9e190;
}