#header {
    display: flex;
    position: absolute;
    height: 13vh;
    width: 92.5vw;
    left: 5vw;
    top: 2vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 1.5vw;
    padding-right: 0.0;
    background-color: #BA765C;
    align-content: center;
}

#title {
    display: flex;
    width: max-content;
    height: max-content;
    margin: auto;
    background: #a9e190;
    border-radius: 2vh;
    padding-left: 1.5vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-right: 1.5vw;
}

.blog {
    width: 85vw;
    height: max-content;
    margin-top: 1.5vh;
    margin-left: 1.5vw;
    padding: 0.5vh 1.5vw 0.5vh 1.5vw;
    background-color: #E7C163;
    border-width: 1px;
    border-style: solid;
    border-image:
      linear-gradient(
        to right,
        black,
        rgba(255, 0, 0, 0)
        ) 1 1;
}


#current_html {
    position: absolute;
    background-color: #cdc776;
    height: 78vh;
    width:  92.5vw;
    top: 19vh;
    left: 5vw;
    margin: 0;
    padding-top: 2vh;
    padding-bottom: 1vh;
    padding-left: 1.5vw;
    padding-right: 0.0;
    object-fit: contain;
    overflow: hidden;
}
