.all {
    margin: 0;
    padding-left: 0;
    border-style: solid;
    border-width: 0.05vw;
}

th, tr, td{
    padding: 0;
    margin: 0;
}

p {
    font-size: 1.65vh;
}

#left_side_bar {
    position: absolute;
    height: 97.5vh;
    width: 4vw;
    transition: 0.6s;
    background-color: #7FCDBB;
    padding-top: 2.5vh;
}

.side_bar_left {
    margin-left: 1vw;
    margin-right: 1vw;
    display: none;
    border: solid;
    border-width: 0.05vw;
    width: auto;
    overflow: hidden;
}

#head_side_bar {
    height: 20vh;
}

#body_side_bar {
    margin-top: 2vh;
    height: 55vh;
}

#foot_side_bar {
    padding-left: 0.5vw;
    margin-top: 2vh;
    height: 15vh;
}

#small_text {
    font-size: 1.2vh;
}

table {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}

#current_html {
    height: 98vh;
    width:  95vw;
    margin: 0;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 1.5vw;
    padding-right: 0.5vw;
    background-color: #f0ffce;
    object-fit: contain;
    float: right;
}

.explnation_p {
    margin: 1vh;
}

.input_field {
    position: relative;
    float: left;
    top: 1vh;
    margin: 0;
    width: 14.5vw;
    height: 2vh;
    font-size: 1.5vh;
}

#start_s {
    width: 14.5vw;
    height: 2vh;
    font-size: 1.5vh;
    margin: 0;
    padding: 0;
    border: 0;
    position: relative;
    float: left;
    top: 1vh;
}

#user_modification {
    width: 95vw;
    margin: 0;
    padding: 0;
    height: 27vh;
    background-color: #BA765C;
    overflow: visible;
}

#settings_logo_box{
    margin: auto;
    width: min-content;
    cursor: pointer;
}

#settings_logo {
    margin: 0;
    font-size: 3vh;
}

#advanced_seetings_bar {
    position: relative;
    margin-top: auto;
    margin-right: 0;
    width: 92.9797779999999vw;
    height: 10vh;
    background-color: yellow;
    margin-left: 0.7vw;
}

.modifications{
    height: 10vh;
    width: 14.5vw;
    float: left;
    margin-left: 0.7vw;
    margin-top: 1.5vh;
    padding-top: 1vh;
    padding-left: 1vw;
    padding-bottom: 1vh;
    padding-right: 1vw;
    background: #a9e190;
    border-radius: 1vw;
}

#advanced_seetings{
    width: 5vw;
}

#container {
    margin-top: 1vh;
    height: 82vh;
    width: 95vw;
    padding: 0;
}

#simulation {
    padding: 0;
    margin:0;
    background-color: #cdc776;
    float: left;
    height: inherit;
    width: 74vw;
}

#side_bar{
    overflow:hidden;
    float: right;
    width: 20vw;
    height: inherit;
    background-color: #a9e190;
    object-fit: contain;
    margin: 0;
    padding: 0;
}

#reklame{
    border: hidden;
    height: 25vh;
    width: 18vw;
    padding-left: 1vw;
    padding-right: 2vw;
    margin: 0;
}
#stats {
    height: 55vh;
    width: 18vw;
    padding-left: 1vw;
    padding-right: 2vw;
    margin: 0;
    background-color: #a9e190;
}