.all {
    margin: 0;
    padding-left: 0;
    border-style: solid;
    border-width: 0.05vw;
}

body {
    background-color: blue;
    height: 100px;
    width: 100px;
}

th, tr, td{
    padding: 0;
    margin: 0;
}

p {
    font-size: 1.65vh;
    margin-bottom: 0.5vh;
}

#left_side_bar {
    position: absolute;
    margin:0;
    height: 97.5vh;
    width: 4vw;
    transition: 0.6s;
    background-color: #7FCDBB;
    padding-top: 2.5vh;
}

.side_bar_left {
    margin-left: 1vw;
    margin-right: 1vw;
    display: none;
    border: solid;
    border-width: 0.05vw;
    width: auto;
    overflow: hidden;
}

#head_side_bar {
    overflow: scroll;
    height: 20vh;
}

#body_side_bar {
    overflow: scroll;
    margin-top: 2vh;
    height: 55vh;
}

#foot_side_bar {
    overflow: scroll;
    padding-left: 0.5vw;
    margin-top: 2vh;
    height: 15vh;
}

#small_text {
    font-size: 1.2vh;
}

table {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f0ffce;
    margin: 0;
    padding: 0;
}
