{% extends "common.html" %}

{% block header %}<link href="/blogs/makeup_blog.css" rel="stylesheet" type="text/css">{% endblock %}
    {% block title %}Fony Blogs{% endblock %}
{% block body %}
    <div id="header">
        <div id="title">
            <h1 id="webpage_title">Fony Blogs</h1>
        </div>
    </div>

    <div id="go_back_up">
      <a href="/blogs/one_true_blog.html"><p id="go_back">go to main blog ^</p></a>
    </div>
    <div id="blog_tree">
      <p class="tree" id="top_tree">Top layer</p>

    </div>
    <div id="current_html">
    </div>


    <div id="create_new_post">
      <div id="close">X</div>
      <form action="" id="post_creater">
        <div id="blog_or_post">
          <p class="description">blog / sub-blog:</p>
          <input id="pick_blog" class="radio_button" type="radio" name="post_type" value="blog">

          <p class="description">post:</p>
          <input id="pick_post" class="radio_button" type="radio" name="post_type" value="post">
        </div>
        <input type="text" id="new_title" placeholder="Example Title">
        <textarea type="text" id="content" placeholder="Content" rows="5" cols="30"></textarea>
        <input type="submit" value="Submit" id="submit_post">
        <input type="text" id="password" placeholder="password">
      </form>
    </div>

    <div id="toggle_post">
      <p id="toggle_the_post">post</p>
    </div>

    <script src="/blogs/blogs.js"></script>
  {% endblock %}
