{% extends "common.html" %}

{% block title %}Fony Games{% endblock %}
{% block header %}
  <link href="makeup_2048.css" rel='stylesheet' type="text/css">
{% endblock %}

{% block body %}

<div id="main_div">
  <div id="header_controls">
    <div id="toggle_controls">
      <div id="controls" class="alg_or_con">Controls</div>
      <div id="algorithms" class="alg_or_con">Neural Network</div>
    </div>
    <div id="actual_controls">
      <div id="up_arrow" class="arrow">
        UP
      </div>
      <div id="left_arrow" class="arrow">
        LEFT
      </div>
      <div id="down_arrow" class="arrow">
        DOWN
      </div>
      <div id="right_arrow" class="arrow">
        RIGHT
      </div>
      <div id="run_algorithm" class="arrow">
        Run algorithm
      </div>
    </div>
    <div id="actual_algorithms">
      <p class="description">Human player:</p>
      <input id="human_p" class="radio_button" type="radio" name="post_type" value="blog">

      <p class="description">Homemade Algorithm:</p>
      <input id="Homemade_a" class="radio_button" type="radio" name="post_type" value="post">

      <p class="description">Pretrained Artificial Neural Network:</p>
      <input id="pann" class="radio_button" type="radio" name="post_type" value="post">

      <p class="description">Untrained Artificial Neural Network:</p>
      <input id="uann" class="radio_button" type="radio" name="post_type" value="post">
    </div>
  </div>

  <div id="game_div">
    <div id="board">

    </div>
  </div>
</div>

  <script type="text/javascript" src="g2048.js">
  </script>
{% endblock %}
